/* скроллбар */
/* WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar-thumb {
    background: var(--clr-purple-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr-purple-darkest);
}

::-webkit-scrollbar-button {
    background-color: var(--clr-purple-dark);
}

/* Firefox */
html {
    scrollbar-color: var(--clr-purple-dark) transparent;
}

.btn-appointment {
    background: linear-gradient(to right, var(--clr-purple-dark), var(--clr-purple));
    color: var(--clr-bg-alt);
    text-decoration: none;
    padding: 1em 2em;
    border-radius: var(--border-radius);
    background-size: 150% 100%;
    background-position: right center;
    transition: background-position 0.3s ease;
}

.btn-appointment:hover {
    background-position: left center;
}

.dot-indicators {
    display: flex;
    align-self: center;
    justify-self: center;
    gap: 5px;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .4em;
    background-color: transparent;
    border: 2px solid var(--clr-purple-dark);
}

@media (min-width: 35em) {
    .dot-indicators > * {
    padding: .6em;
    border-width: 3px
}
}

.dot-indicators > *:hover,
.dot-indicators > *:focus-visible {
    background-color: var(--clr-bg-alt);
}

.dot-indicators > [aria-selected="true"] {
    background-color: var(--clr-purple-dark); 
    border-color: var(--clr-bg-alt);
}

.reviews-controls > * {
    border-color: var(--clr-purple-dark);
}

.reviews-controls > *:hover,
.reviews-controls > *:focus {
    background-color: var(--clr-bg-alt);
}

.reviews-controls > [aria-selected="true"] {
    background-color: var(--clr-purple);
    border-color: var(--clr-purple-darkest); 
}

.reviews-carousel,
.images-carousel {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.reviews-carousel::-webkit-scrollbar,
.images-carousel::-webkit-scrollbar {
  display: none;
}

