.btn-appointment {
    background-image: linear-gradient(to right, var(--clr-purple-dark), var(--clr-purple));
    color: var(--clr-bg-alt);
    padding-inline: 3vw;
    border-radius: var(--border-radius);
}

.dot-indicators {
    align-self: center;
    justify-self: center;
    gap: 20px;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .6em;
    background-color: transparent;
    border: 3px solid var(--clr-purple-dark);
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: var(--clr-purple);
}

.dot-indicators > [aria-selected="true"] {
    background-color: var(--clr-purple-darkest); 
}

.reviews-carousel,
.images-carousel {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.reviews-carousel::-webkit-scrollbar,
.images-carousel::-webkit-scrollbar {
  display: none;
}