/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.d-block {
    display: block;
}

.flow > * + * {      /*for spacing!*/
    margin-top: var(--flow-space, 2rem);
}

.flow--space-small {
    --flow-space: .5rem;
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    color: hsl( var(--clr-dark) );
    padding: .5em 1em;
    margin-inline: auto;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus {
    transform: translateY(0);
}

.tab-list button:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}


.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

body {
    background-color: var(--clr-bg);
    color: var(--clr-purple-darkest);
    font-size: 1.2em;
}

.main-header {
    flex-direction: column-reverse;
    width: 100%;
    background-color: var(--clr-bg-alt);
    position: relative;
    z-index: 0;
}

.main-header > * {
    display: flex;
    flex: 1;
    padding: 2em;
}

.main-header div:first-child {
    /* левая пустая белая панель */
}

.main-header div:last-child {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, var(--clr-purple-dark), var(--clr-purple));
    color: var(--clr-bg-alt);
    position: relative;
    z-index: 10;
}

.primary-navigation {
    list-style-type: none;
}

/* Планшет (35em) – правая часть 80% */
@media (min-width: 35em) {
    .main-header {
        flex-direction: row;
    }
    .main-header div:first-child {
        flex: 0 0 10%;          /* левая часть фиксированно 20% */
        padding: 0;
    }
    .main-header div:last-child {
        flex: 1 1 90%;          /* правая часть 80% */
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
        padding-left: calc(20% + 2rem);
    }
}

/* Десктоп (45em) – правая часть 50% */
@media (min-width: 45em) {
    .main-header div:first-child {
        flex: 0 0 30%;          /* левая часть 50% */
    }
    .main-header div:last-child {
        flex: 1 1 70%;          /* правая часть 50% */
        /* clip-path и padding можно оставить или скорректировать под новое соотношение */
    }
}