section {
    width: 100%;
}

.grid-container {
    grid-template-areas: 
    'images images images'
    '. about .'
    '. services .'
    'reviews reviews reviews'
    '. tech .'
    '. contacts .';
    grid-template-columns: 1fr 80vw 1fr;
}

/*index page */

.images-wrapper {
    position: relative; 
    display: inline-block;
    grid-area: images;
}

.images-carousel {
    position: relative;
    outline: 4px solid var(--clr-purple-dark);
    width: 100%;
    height: 60vh;
    z-index: 1;
    overflow: hidden;
    transition: transform 0.3s ease;
    will-change: transform;
}

.images-carousel > * {
    flex: 0 0 80vw;
    min-width: 80vw;
    height: auto;
    object-fit: cover
}
.carousel-controls {
  position: absolute;
  bottom: 15px;     
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;    
  margin: 0;
}

.about {
    justify-content: space-between;
    grid-area: about;
}

.services-section {
    background-color: var(--clr-bg-alt);
    grid-area: services;
}

.reviews {
    grid-column: reviews;
    grid-template-areas: 
        '. header .'
        'content content content';
    grid-template-columns: 1fr 80vw 1fr;
}
.reviews > h2 {
    grid-area: header;
}

.tech {
    grid-area: tech;
}

.contacts {
    grid-area: contacts;
}