:root {
    --clr-bg: #eae4f6;
    --clr-bg-alt: #FFFFFF;

    --clr-purple-dark: #7763a1;
    --clr-purple: #a48fd3;
    --clr-purple-darkest: #453061;

    --border-radius: 1em;
    --color-bg-alt-hsl: 0, 0%, 100%;

    --h: 0; 
    --s: 0%;
    --l: 100%;
    --color-bg-alt: hsl(var(--h), var(--s), var(--l));
}